%div.min-h-screen.flex.items-center.justify-center.w-full.py-12.px-4.sm:px-6.lg:px-8
  %div.max-w-md.w-full.space-y-8
    %div
      %h2.mt-6.text-center.text-3xl.font-extrabold.text-gray-900= @team.name
      %p.mt-2.text-center.text-sm.text-gray-600= @team.description
      = link_to 'Edit', edit_team_path(@team), class: 'block w-full px-4 py-2 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700'
      = button_to 'Delete', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'block w-full px-4 py-2 bg-red-600 text-white font-semibold rounded mt-2 hover:bg-red-700'
    %div
      %h3.mt-4.text-lg.font-bold.text-gray-900 Members
      %ul.grid.grid-cols-1.gap-4
        %li.flex.items-center.justify-between.border.border-gray-200.p-4.rounded-lg.bg-white
          %span.text-lg.font-semibold= @team.owner.fullname
          %span.text-gray-600= "Owner"
        - @team.members.each do |member|
          %li.flex.items-center.justify-between.border.border-gray-200.p-4.rounded-lg.bg-white
            %span.text-lg.font-semibold= member.fullname
            %span.text-gray-600= "Member"
    = form_with(model: [@team, TeamUser.new], url: team_team_users_path(@team), method: :post, local: true) do |f|
      .grid.grid-cols-2.gap-4
        .col-span-2
          = f.label :user_id, "User Email", class: "block text-sm font-medium text-gray-700"
          = f.collection_select :user_id, @users, :id, :email, { prompt: "Select User" }, class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        .col-span-2
          = f.label :role_id, "Role", class: "block text-sm font-medium text-gray-700"
          = f.collection_select :role_id, current_user.creator_roles, :id, :name, { prompt: "Select Role" }, class: "mt-1 p-2 w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        = f.hidden_field :team_id, value: @team.id
      .mt-4
        = f.submit "Invite User", class: "inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
