
%div.min-h-screen.flex.items-center.justify-center.w-full.py-12.px-4.sm:px-6.lg:px-8
  %div.max-w-7xl.mx-auto.py-6.sm:px-6.lg:px-8
    %div.flex.flex-col.justify-between.items-center.sm:flex-row
      %h2.text-3xl.font-extrabold.text-gray-900 Roles
      = link_to 'New Role', new_role_path, class: 'px-4 py-2 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700'
    - if @roles.any?
      %div.mt-4.grid.grid-cols-1.gap-4.sm:grid-cols-2.md:grid-cols-3.lg:grid-cols-4
        - @roles.each do |role|
          %div.px-4.py-2.border.border-gray-300.rounded-md.shadow-md.hover:shadow-lg.transition.cursor-pointer
            %h3.text-lg.font-semibold.text-gray-900= role.name
            %p.mt-1.text-sm.text-gray-600= role.description
            %div.mt-2.flex.justify-end.items-center
              - if role.creator == current_user
                = link_to 'Show', role, class: 'px-3 py-1 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700  mx-3'
                = link_to 'Edit', edit_team_path(role), class: 'px-3 py-1 bg-yellow-500 text-white font-semibold rounded hover:bg-yellow-600 mx-3'
                = link_to 'Delete', role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'px-3 py-1 bg-red-600 text-white font-semibold rounded hover:bg-red-700 mx-3'
    - else
      %p No roles found.